
@media screen and (max-width: 600px) {
    #logoimgLg {
        display: none;
    }
    .title {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    #logoimgSm {
        display: none;
    }
    .title {
        font-size: 26px;
    }
}