
@media screen and (max-width: 600px) {
    #logoimgLg {
        display: none;
    }
    .title {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    #logoimgSm {
        display: none;
    }
    .title {
        font-size: 29px;
    }
}
.title{
    color: white;
    padding-left: 10px;
}

.title:hover {
    color: white;
}